<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Index Page</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/MainLogo.svg' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/allstyles.css' %}"/>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<div id="wrapper">

    <div class="topHeader">
        <p>Proprietary & Confidential. All Rights Reserved. Avenue Group 2024.</p>
        <div class="logoRow">
            <img src="{% static 'images/traitslogo.jpeg' %}" alt=""/>
        </div>
    </div>

<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content">
    <div class="cMRowOne">
            <h1>
                AI-POWERED AUDIENCE SIMULATOR
            </h1>
            <h1>( Release 1.0 )</h1>
        </div>
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form method="post">
        {% csrf_token %}
        <div class="cMRowOne">
            <p style="text-align: center">
                Enter your email to send password recovery instructions!
            </p>
        </div>

      <div class="form-outline mb-4">
          <label class="form-label" for="loginName">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Enter Email Address" />

      </div>

      <!-- Password input -->


      <!-- 2 column grid layout -->


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Send Email</button>

    </form>
  </div>
</div>
<!-- Pills content -->
</div>


<body>
<script type="text/javascript " src="{% static 'js/jquery.min.js' %} "></script>
<script src="{% static 'js/plugins.js' %} "></script>
<script src="{% static 'js/system.js' %} "></script>


</body>
</html>
